# INTRODUCCIÓN A COLAB

## OBJETIVOS

### ESPECIFICOS


1.   APRENDER
2.   ANALIZAR


*   Elemento de lista
*   Elemento de lista
A

In [ ]:
# IMPORTAR LIBRERÍAS
import pandas as pd
import numpy as np

In [ ]:
#IMPORTAR DATOS
df1=pd.read_csv("preprocessing.csv")

In [ ]:
#visualizar data frame
df1

     Country  age Virus muerte
0    Francia   44    72     no
1     españa   27    48     si
2   alemania   30    54     no
3     españa   38    61     no
4   alemania   40    si    NaN
5    Francia   35    58     no
6     españa   52    si    NaN
7    Francia   48    79     no
8   alemania   50    83     si
9    Francia   37    67     no
10   Ecuador   25    30     si

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  11 non-null     object
 1   age      11 non-null     int64
 2   Virus    11 non-null     object
 3   muerte   9 non-null      object
dtypes: int64(1), object(3)
memory usage: 480.0+ bytes

In [ ]:
#dimension del df
df1.shape

(11, 4)

In [ ]:
# primeras posiciones
df1.head(4)

    Country  age Virus muerte
0   Francia   44    72     no
1    españa   27    48     si
2  alemania   30    54     no
3    españa   38    61     no

In [ ]:
#ultimas posiciones
df1.tail(4)

     Country  age Virus muerte
7    Francia   48    79     no
8   alemania   50    83     si
9    Francia   37    67     no
10   Ecuador   25    30     si

In [ ]:
# estadisitca genral del df
df1.describe()

             age
count  11.000000
mean   38.727273
std     9.155227
min    25.000000
25%    32.500000
50%    38.000000
75%    46.000000
max    52.000000

In [ ]:
df1[["muerte"]]

   muerte
0      no
1      si
2      no
3      no
4     NaN
5      no
6     NaN
7      no
8      si
9      no
10     si

In [ ]:
df1[["muerte","age"]]

   muerte  age
0      no   44
1      si   27
2      no   30
3      no   38
4     NaN   40
5      no   35
6     NaN   52
7      no   48
8      si   50
9      no   37
10     si   25

In [ ]:
df1[["age"]]>40

      age
0    True
1   False
2   False
3   False
4   False
5   False
6    True
7    True
8    True
9   False
10  False

In [ ]:
df1[df1["age"]>40]

    Country  age Virus muerte
0   Francia   44    72     no
6    españa   52    si    NaN
7   Francia   48    79     no
8  alemania   50    83     si